* {
  box-sizing: border-box;
}

@media (min-width: 200px) {
  #navbar {
    position: fixed;
    min-width: 310px;
    top: 0px;
    left: 0px;
    width: 20vw;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    margin-top: 10px;
  }
}
main {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  width: 80vw;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

#head {
  font-size: 30px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 45px;
  text-decoration: underline;
}

li {
  font-size: 30px;
}
header {
  font-size: 30px;
  letter-spacing: 1.5px;
  margin-top: 12px;
  background-color: rgb(226, 224, 223);
}

p {
  font-size: 19px;
  letter-spacing: 0.5px;
}

.image-box {
  width: 100%;
}
.image-box > img {
  width: 97%;
  margin-right: 3%;
}
.code-box {
  display: block;
  width: 325px;
  height: 150px;
  font-size: 15px;
  padding: 12px;
  background-color: rgb(64, 63, 70);
  color: white;
  border-radius: 6px;
}

.image-box > #radial-img {
  width: 60%;
}
li {
  border-bottom: solid;
  color: black;
  font-size: 30px;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

li:hover,
li:active {
  background-color: rgb(226, 224, 223);
  width: 100%;
}
